{% extends "base.html" %}
{% load static %}

{% block content %}

<body>

    <!-- Área de Cabeçalho Início Aqui -->

    {% include "cupcakes/include/html-header.html" %}

    <!-- Área de Cabeçalho Fim Aqui -->
    <!-- Área de Breadcrumb Início Aqui -->
    <div class="breadcrumbs-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">Fale Conosco</h3>
                        <ul>
                            <li><a href="{% url 'home-page' %}">Início</a></li>
                            <li>Fale Conosco</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Área de Breadcrumb Fim Aqui -->
    <!-- Área de Contato Início Aqui -->
    <div class="contact-us-area mt-no-text">
        <div class="container custom-area">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-custom">
                    <div class="contact-info-item">
                        <div class="con-info-icon">
                            <i class="lnr lnr-map-marker"></i>
                        </div>
                        <div class="con-info-txt">
                            <h4>Nossa Localização</h4>
                            <p>{{sistem.address}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-custom">
                    <div class="contact-info-item">
                        <div class="con-info-icon">
                            <i class="lnr lnr-smartphone"></i>
                        </div>
                        <div class="con-info-txt">
                            <h4>Contate-nos a Qualquer Momento</h4>
                            <p>{{sistem.phone_number}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-custom text-align-center">
                    <div class="contact-info-item">
                        <div class="con-info-icon">
                            <i class="lnr lnr-envelope"></i>
                        </div>
                        <div class="con-info-txt">
                            <h4>Suporte Geral</h4>
                            <p>{{sistem.support_email}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-custom">
                    <form method="post" action="{% url 'contact_us-page' %}" id="contact-form" accept-charset="UTF-8" class="contact-form">
                        {% csrf_token %}

                        <div class="comment-box mt-5">
                            <h5 class="text-uppercase">Entre em Contato</h5>
                            <div class="row mt-3">
                                <div class="col-md-6 col-custom">
                                    <div class="input-item mb-4">
                                        <input class="border-0 rounded-0 w-100 input-area name gray-bg" type="text"
                                            name="first_name" id="con_name" placeholder="Nome" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-custom">
                                    <div class="input-item mb-4">
                                        <input class="border-0 rounded-0 w-100 input-area email gray-bg" type="email"
                                            name="email" id="con_email" placeholder="E-mail" required>
                                    </div>
                                </div>
                                <div class="col-12 col-custom">
                                    <div class="input-item mb-4">
                                        <input class="border-0 rounded-0 w-100 input-area email gray-bg" type="text"
                                            name="subject" id="con_content" placeholder="Assunto" required>
                                    </div>
                                </div>
                                <div class="col-12 col-custom">
                                    <div class="input-item mb-4">
                                        <textarea cols="30" rows="5"
                                            class="border-0 rounded-0 w-100 custom-textarea input-area gray-bg"
                                            name="message" id="con_message" placeholder="Mensagem" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-custom mt-40">
                                    <button type="submit" id="submit" name="submit"
                                        class="btn flosun-button secondary-btn theme-color rounded-0">Enviar Mensagem</button>
                                </div>
                                <p class="col-8 col-custom form-message mb-0"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Área de Contato Fim Aqui -->
    <!--Área do Rodapé Início-->
    {% include "cupcakes/include/html-footer.html" %}
    <!--Área do Rodapé Fim-->

    <!-- JS ============================================ -->
    <script>
        $(document).on('submit', '#contact-form', function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '',
                data: $(this).serialize(),
                success: function (response) {
                    // Mostra uma mensagem de sucesso
                    alert("Mensagem enviada com sucesso!");
                    $('#contact-form')[0].reset();
                },
                error: function (response) {
                    // Mostra mensagem de erro
                    alert("Houve um erro ao enviar sua mensagem.");
                }
            });
        });

    </script>
</body>

{% endblock %}
