{% extends "base.html" %}
{% load static %}


{% block content %}

<body>

    <!-- Header Area Start Here -->

    {% include "cupcakes/include/html-header.html" %}

    <!-- Header Area End Here -->
    <!-- Slider/Intro Section Start -->
    <div class="intro11-slider-wrap section">
        <div class="intro11-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="intro11-section swiper-slide slide-1 slide-bg-1 bg-position">
                    <!-- Intro Content Start -->
                    <div class="intro11-content text-left">
                        <h3 class="title-slider text-uppercase">Tendência Top</h3>
                        <h2 class="title">Tendência de Cupcakes 2024</h2>
                        <p class="desc-content">Descubra os cupcakes que estão fazendo sucesso este ano. Com sabores inovadores e decorações únicas, nossos cupcakes são a escolha perfeita para qualquer ocasião.</p>
                        <a href="{% url 'shop-page' %}" class="btn flosun-button secondary-btn theme-color rounded-0">Compre Agora</a>
                    </div>
                    <!-- Intro Content End -->
                </div>
                <div class="intro11-section swiper-slide slide-2 slide-bg-1 bg-position">
                    <!-- Intro Content Start -->
                    <div class="intro11-content text-left">
                        <h3 class="title-slider black-slider-title text-uppercase">Coleção</h3>
                        <h2 class="title">Cupcakes e Velas <br> Presente de Aniversário</h2>
                        <p class="desc-content">Surpreenda alguém especial com nossa combinação de cupcakes deliciosos e velas aromáticas. Perfeito para tornar qualquer aniversário inesquecível.</p>
                        <a href="product-details.html" class="btn flosun-button secondary-btn rounded-0">Compre Agora</a>
                    </div>
                    <!-- Intro Content End -->
                </div>
            </div>
            <!-- Slider Navigation -->
            <div class="home1-slider-prev swiper-button-prev main-slider-nav"><i class="lnr lnr-arrow-left"></i></div>
            <div class="home1-slider-next swiper-button-next main-slider-nav"><i class="lnr lnr-arrow-right"></i></div>
            <!-- Slider pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
    <!-- Slider/Intro Section End -->
    <!--Categories Area Start-->
    {% include "cupcakes/include/home-categories-area.html" %}

    <!--Categories Area End-->
    <!--Product Area Start-->
    {% include "cupcakes/include/home-featured-products.html" %}
    <!--Product Area End-->
    <!-- Product Countdown Area Start Here -->
    <div class="product-countdown-area mt-text-3">
        <div class="container custom-area">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12 col-custom">
                    <div class="section-title text-center mb-30">
                        <h3 class="section-title-3">Deal of The Day</h3>
                    </div>
                </div>
                <!--Section Title End-->
            </div>
            <div class="row">
                <!--Countdown Start-->
                <div class="col-12 col-custom">
                    <div class="countdown-area">
                        <div class="countdown-wrapper d-flex justify-content-center"
                            data-countdown="2024/08/16"></div>
                    </div>
                </div>
                <!--Countdown End-->
            </div>
            <div class="row product-row">
                <div class="col-12 col-custom">
                    <div class="item-carousel-2 swiper-container anime-element-multi product-area">
                        <div class="swiper-wrapper">
                            {% for produto in home_featured_products %}
                            <div class="single-item swiper-slide">
                                <!--Single Product Start-->
                                <div class="single-product position-relative mb-30">
                                    <div class="product-image">
                                        <a class="d-block" href="{% url 'product_details-page' produto.cupcake.id %}">
                                            <img src="{{ produto.imagens.0 }}" alt="" class="product-image-1 w-100">
                                            {% if produto.imagens|length > 1 %}
                                            <img src="{{ produto.imagens.1 }}" alt=""
                                                class="product-image-2 position-absolute w-100">
                                            {% endif %}
                                        </a>
                                        <span class="onsale">Sale!</span>
                                        <div class="add-action d-flex flex-column position-absolute">
                                            <a href="#exampleModalCenter" title="Quick View" data-bs-toggle="modal"
                                                data-bs-target="#exampleModalCenter">
                                                <i class="lnr lnr-eye" data-toggle="tooltip" data-placement="left"
                                                    title="Quick View"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <h4 class="title-2">
                                                <a href="{% url 'product_details-page' produto.cupcake.id %}">{{ produto.cupcake.titulo }}</a>
                                            </h4>
                                        </div>
                                        <div class="product-rating">
                                           {{produto.cupcake.media_rating|safe}}
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price">${{ produto.cupcake.preco }}</span>
                                            {% if produto.cupcake.preco_antigo %}
                                            <span class="old-price"><del>${{ produto.cupcake.preco_antigo
                                                    }}</del></span>
                                            {% endif %}
                                        </div>
                                        <a href="{url 'cart-page'}" class="btn product-cart">Add to Cart</a>
                                    </div>
                                </div>
                                <!--Single Product End-->
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Slider pagination -->
                        <div class="swiper-pagination default-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Countdown Area End Here -->
    <!-- History Area Start Here -->
    {% include "cupcakes/include/html-our_history.html" %}

    <!-- History Area End Here -->
    <!-- Banner Area Start Here -->
    <div class="banner-area mt-text-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-custom">
                    <!--Single Banner Area Start-->
                    <div class="single-banner hover-style mb-30">
                        <div class="banner-img">
                            <a href="#">

                                <img src="{% url 'get_image' page='home' _type='banner' name='1-1.png' %}" alt="">
                                <div class="overlay-1"></div>
                            </a>
                        </div>
                    </div>
                    <!--Single Banner Area End-->
                </div>
                <div class="col-md-4 col-custom">
                    <!--Single Banner Area Start-->
                    <div class="single-banner hover-style mb-30">
                        <div class="banner-img">
                            <a href="#">
                                <img src="{% url 'get_image' page='home' _type='banner' name='1-2.png' %}" alt="">
                                <div class="overlay-1"></div>
                            </a>
                        </div>
                    </div>
                    <!--Single Banner Area End-->
                </div>
                <div class="col-md-4 col-custom">
                    <!--Single Banner Area Start-->
                    <div class="single-banner hover-style mb-30">
                        <div class="banner-img">
                            <a href="#">
                                <img src="{% url 'get_image' page='home' _type='banner' name='1-3.png' %}" alt="">

                                <div class="overlay-1"></div>
                            </a>
                        </div>
                    </div>
                    <!--Single Banner Area End-->
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End Here -->
    <!-- Newsletter Area Start Here -->
    {% include "cupcakes/include/html-newsletter.html" %}

    <!-- Newsletter Area End Here -->
    <!-- Testimonial Area Start Here -->
    {% include "cupcakes/include/testimonial.html" %}

    <!-- Testimonial Area End Here -->

    <!--Footer Area Start-->
    {% include "cupcakes/include/html-footer.html" %}

    <!--Footer Area End-->

    <!-- Modal -->
    <div class="modal flosun-modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                    <span class="close-icon" aria-hidden="true">x</span>
                </button>
                <div class="modal-body">
                    <div class="container-fluid custom-area">
                        <div class="row">
                            <div class="col-md-6 col-custom">
                                <div class="modal-product-img">
                                    <a class="w-100" href="#">
                                        <img class="w-100" src="{% static 'assets/images/product/large-size/1.jpg' %}"
                                            alt="Product">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-custom">
                                <div class="modal-product">
                                    <div class="product-content">
                                        <div class="product-title">
                                            <h4 class="title">Product dummy name</h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price ">$80.00</span>
                                            <span class="old-price"><del>$90.00</del></span>
                                        </div>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span>1 Review</span>
                                        </div>
                                        <p class="desc-content">we denounce with righteous indignation and dislike men
                                            who are so beguiled and demoralized by the charms of pleasure of the moment,
                                            so blinded by desire, that they cannot foresee the pain and trouble that are
                                            bound to ensue; and equal blame bel...</p>
                                        <form class="d-flex flex-column w-100" action="#">
                                            <div class="form-group">
                                                <select class="form-control nice-select w-100">
                                                    <option>S</option>
                                                    <option>M</option>
                                                    <option>L</option>
                                                    <option>XL</option>
                                                    <option>XXL</option>
                                                </select>
                                            </div>
                                        </form>
                                        <div class="quantity-with-btn">
                                            <div class="quantity">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" value="0" type="text">
                                                    <div class="dec qtybutton">-</div>
                                                    <div class="inc qtybutton">+</div>
                                                    <div class="dec qtybutton"><i class="fa fa-minus"></i></div>
                                                    <div class="inc qtybutton"><i class="fa fa-plus"></i></div>
                                                </div>
                                            </div>
                                            <div class="add-to_btn">
                                                <a class="btn product-cart button-icon flosun-button dark-btn"
                                                    href="cart.html">Add to cart</a>
                                                <a class="btn flosun-button secondary-btn rounded-0"
                                                    href="wishlist.html">Add to wishlist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="lnr lnr-arrow-up"></i>
    </a>
    <!-- Scroll to Top End -->

    <!-- JS
    ============================================ -->
    <!-- Script para contagem regressiva que reinicia a cada dois dias -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var countdownElement = document.querySelector('[data-countdown]');
        if (countdownElement) {
            var countdownDate = new Date(countdownElement.getAttribute('data-countdown')).getTime();
            var twoDaysInMilliseconds = 2 * 24 * 60 * 60 * 1000;  // Milissegundos em dois dias

            function startCountdown() {
                var x = setInterval(function() {
                    var now = new Date().getTime();
                    var distance = countdownDate - now;

                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    if (distance < 0) {
                        clearInterval(x);
                        countdownDate += twoDaysInMilliseconds;  // Adiciona dois dias à data atual
                        startCountdown();  // Reinicia a contagem para os próximos dois dias
                    }
                }, 1000);
            }

            startCountdown();  // Inicia a contagem regressiva
        }
    });
</script>
</body>

{% endblock %}