{% load static %}

<div class="categories-area pt-40">
    <div class="container-fluid">
        <div class="row">
            <div class="cat-1 col-md-4 col-sm-12 col-custom">
                <div class="categories-img mb-30">
                    <a href="#"><img src="{% url 'get_image' page='home' _type='category' name='1.jpg' %}" alt=""></a>
                    <!-- <div class="categories-content">
                        <h3>Cupcake Red Velvet</h3>
                        <h4>18 itens</h4>
                    </div> -->
                </div>
            </div>
            <div class="cat-2 col-md-8 col-sm-12 col-custom">
                <div class="row">
                    <div class="cat-3 col-md-7 col-custom">
                        <div class="categories-img mb-30">
                            <a href="#"><img src="{% url 'get_image' page='home' _type='category' name='2.jpg' %}" alt=""></a>
                            <!-- <div class="categories-content">
                                <h3>Cupcake de Baunilha com Nutella</h3>
                                <h4>22 itens</h4>
                            </div> -->
                        </div>
                    </div>
                    <div class="cat-4 col-md-5 col-custom">
                        <div class="categories-img mb-30">
                            <a href="#"><img src="{% url 'get_image' page='home' _type='category' name='3.jpg' %}" alt=""></a>
                            <!-- <div class="categories-content">
                                <h3>Cupcake de Chocolate Belga</h3>
                                <h4>15 itens</h4>
                            </div> -->
                        </div>
                    </div>
                    <div class="cat-5 col-md-4 col-custom">
                        <div class="categories-img mb-30">
                            <a href="#"><img src="{% url 'get_image' page='home' _type='category' name='4.jpg' %}" alt=""></a>
                            <!-- <div class="categories-content">
                                <h3>Cupcake de Limão Siciliano</h3>
                                <h4>20 itens</h4>
                            </div> -->
                        </div>
                    </div>
                    <div class="cat-6 col-md-8 col-custom">
                        <div class="categories-img mb-30">
                            <a href="#"><img src="{% url 'get_image' page='home' _type='category' name='5.jpg' %}" alt=""></a>
                            <!-- <div class="categories-content">
                                <h3>Cupcake de Morango com Chantilly</h3>
                                <h4>25 itens</h4>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
